* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.btn {
    padding: 10px;
    font-size: 30px;
}

#panel-display {
    font-size: 40px;
    min-height:75px;
}

#panel-buttons {
    display: flex;
    flex-wrap: wrap;
}

#panel-buttons .btn {
    min-width: calc(100%/3)
}